<div class="last-section">
    <div class="last-section-container ">
        <div class="last-content ">
            <div class="container py-5  text-align-center-sm">
               
                <div class="row">                        
                    <div class="col-12 col-sm-6 col-lg-3">
                        <h1 class="bottom-logo">
                            <a href="index.html" class="navbar-brand text-dark "><img src="image/Cruella_farm-removebg-preview.png" alt=""></a>
                        </h1>   
                        <div>
                            <p style="font-family: cursive;">Our customers wealth/health is our number one priority</p>
                        </div>                                                     
                    </div>                       
                    
                    
                    <div class="menu col-12 col-sm-6 col-lg-3" >
                        <h3>Menu</h3>
                        <div class="row" style="width: 80%;" >
                            <div class="col">
                                <div>
                                    <a href="index.html" class="text-decoration-none text-dark" style="font-family: cursive;">Home</a>
                                </div>
                                <div>
                                    <a href="#about-us" class="text-decoration-none text-dark " style="font-family: cursive;">About</a>
                                </div>
                                <div>
                                    <a href="product.html" class="text-decoration-none text-dark " style="font-family: cursive;">Product</a>
                                </div>
                            </div>
                            <div class=" col">
                                <div>
                                    <a href="contact.html" class="text-decoration-none text-dark " style="font-family: cursive;">contact</a>
                                </div>
                                <div>
                                    <a href="login.html" class="text-decoration-none text-dark " style="font-family: cursive;">Login</a>
                                </div>
                                <div>
                                    <a href="register.html" class="text-decoration-none text-dark " style="font-family: cursive;">Register</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="address col-12 col-sm-6 col-lg-3 mt-3 mt-sm-0">
                        <h3>Address</h3>
                        <div>
                            <i class="fa-solid fa-location-dot"></i>
                            <span style="font-family: cursive; font-size: 14px;"> No 1, orita-sabo junction, Osogbo.</span>
                        </div>
                        <div class="email">
                            <i class="fa-solid fa-envelope"></i>
                            <span style="font-family: cursive;">joshuaajayi012@gmail.com</span>
                        </div>
                        <div class="contact">
                            <i class="fa-solid fa-phone"></i>
                            <span style="font-family: cursive;">+2349031814708</span>
                            <div>
                                <i class="fa-solid fa-phone"></i>
                                <span style="font-family: cursive;">+2349041620570</span>
                            </div>
                        </div>

                    </div>
                    <div class="support col-12 col-sm-6 col-lg-3 mt-3 mt-sm-0">
                        <h3>Support</h3>
                        <div>
                            <a href="" class="text-decoration-none text-dark" style="font-family: cursive;">Private Policy</a>
                        </div>
                        <div>
                            <a href="" class="text-decoration-none text-dark" style="font-family: cursive;">Terms & Condition</a>
                        </div>

                        <div  class="contact-us mt-3 ">
                            <h3>Contact</h3>
                            <div class="icons">
                                <a class="fa-brands fa-facebook-f border border-dark p-2 rounded-pill"></a>
                                <a class="fa-brands fa-twitter border border-dark p-2 rounded-pill"></a>
                                <a class="fa-brands fa-whatsapp border border-dark p-2 rounded-pill"></a>
                            </div>

                        </div>

                    </div>

                   
                </div>

            </div>
        </div>

    </div>

</div> 